<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <img th:src="@{/images/BG4.webp}" alt="Logo PUC Minas">

    <div class="container">
        <div class="login-form">
            <form th:action="@{/register}" method="post" class="login-form">
                <h4 class="login-title">Cadastro</h4>
                
                <input type="text" id="username" name="username" placeholder="Nome ou usuário" required>
                <input type="email" id="email" name="email" placeholder="E-mail" required>
                <input type="password" id="password" name="password" placeholder="Senha" required>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmação da senha" required>
                
                <div class="login-button-container">
                    <button type="submit">Cadastrar</button>
                </div>
                
                <p class="login-redirect-options">
                    Já possui uma conta? <br>
                    <a th:href="@{/login}">Voltar para o Login</a>
                </p>
            </form>
        </div>
    </div>

</body>
</html>